body{color: aliceblue;
    background-color: black;
}
table, tr, td, th{
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: gold; 
}
div.tabela{
    text-align: center;
    background-color: blue;
}
